/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #ff3131, #ff914d);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    max-width: 1200px;
    margin: auto;
}

.nav-logo {
    height: 60px;
    width: auto;
}

.navbar-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #444;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #f7a206;
}
/* Mobile Styles */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
        display: none;
        background-color: #ff914d;
        padding: 20px;
        margin-top: 10px;
        border-radius: 8px;
    }

    .navbar-links.open {
        display: flex;
    }

    .navbar-links li {
        text-align: center;
        font-size: 16px;
    }

    .nav-right {
        margin-left: auto;
        margin-top: 10px;
    }
}